In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ta

In [3]:
df1=pd.read_csv("data_cpoint_ver_1.csv")

In [10]:
#calculate 50 days moving  average
df1["ma 50"]=ta.trend.SMAIndicator(df1["Close"],window=30).sma_indicator()
#calculate rsi
df1["rsi"]=ta.momentum.rsi(df1["Close"], window=14, fillna=False)
#take out date rsi, and ma50 fields

In [11]:
print(df1.head(40))

   Symbol        Date    Open    High     Low   Close  Percent Change  \
0   NABIL  2014-01-01  2210.0  2180.0  2142.0  2151.0           -2.67
1   NABIL  2014-01-02  2151.0  2150.0  2090.0  2125.0           -1.21
2   NABIL  2014-01-05  2125.0  2125.0  2100.0  2125.0            0.00
3   NABIL  2014-01-06  2125.0  2118.0  2095.0  2110.0           -0.71
4   NABIL  2014-01-07  2110.0  2135.0  2070.0  2126.0            0.76
5   NABIL  2014-01-08  2126.0  2180.0  2100.0  2168.0            1.98
6   NABIL  2014-01-09  2168.0  2172.0  2125.0  2172.0            0.18
7   NABIL  2014-01-12  2172.0  2225.0  2105.0  2225.0            2.44
8   NABIL  2014-01-13  2225.0  2260.0  2225.0  2250.0            1.12
9   NABIL  2014-01-14  2250.0  2250.0  2220.0  2220.0           -1.33
10  NABIL  2014-01-16  2220.0  2230.0  2199.0  2199.0           -0.95
11  NABIL  2014-01-19  2199.0  2230.0  2190.0  2210.0            0.50
12  NABIL  2014-01-20  2210.0  2200.0  2166.0  2185.0           -1.13
13  NABIL  2014-01-21  2185.0  2177.0  2100.0  2129.0           -2.56
14  NABIL  2014-01-22  2129.0  2115.0  2070.0  2090.0           -1.83
15  NABIL  2014-01-23  2090.0  2100.0  2050.0  2080.0           -0.48
16  NABIL  2014-01-26  2080.0  2100.0  2035.0  2085.0            0.24
17  NABIL  2014-01-27  2085.0  2105.0  2075.0  2075.0           -0.48
18  NABIL  2014-01-28  2075.0  2085.0  2040.0  2057.0           -0.87
19  NABIL  2014-01-29  2057.0  2060.0  2025.0  2050.0           -0.34
20  NABIL  2014-02-02  2050.0  2061.0  2020.0  2060.0            0.49
21  NABIL  2014-02-03  2060.0  2025.0  1995.0  2009.0           -2.48
22  NABIL  2014-02-04  2009.0  2020.0  2000.0  2015.0            0.30
23  NABIL  2014-02-05  2015.0  2060.0  2010.0  2060.0            2.23
24  NABIL  2014-02-06  2060.0  2077.0  2050.0  2077.0            0.83
25  NABIL  2014-02-09  2077.0  2100.0  2075.0  2100.0            1.11
26  NABIL  2014-02-10  2100.0  2227.0  2142.0  2155.0            2.62
27  NABIL  2014-02-11  2155.0  2130.0  2100.0  2130.0           -1.16
28  NABIL  2014-02-12  2130.0  2124.0  2090.0  2102.0           -1.31
29  NABIL  2014-02-13  2102.0  2103.0  2089.0  2095.0           -0.33
30  NABIL  2014-02-16  2095.0  2100.0  2075.0  2080.0           -0.72
31  NABIL  2014-02-17  2080.0  2100.0  2080.0  2088.0            0.38
32  NABIL  2014-02-18  2088.0  2105.0  2085.0  2105.0            0.81
33  NABIL  2014-02-20  2105.0  2140.0  2098.0  2098.0           -0.33
34  NABIL  2014-02-23  2098.0  2150.0  2100.0  2108.0            0.48
35  NABIL  2014-02-24  2108.0  2140.0  2107.0  2133.0            1.19
36  NABIL  2014-02-25  2133.0  2130.0  2100.0  2130.0           -0.14
37  NABIL  2014-02-26  2130.0  2180.0  2100.0  2149.0            0.89
38  NABIL  2014-03-03  2149.0  2130.0  2059.0  2065.0           -3.91
39  NABIL  2014-03-04  2065.0  2065.0  1975.0  2015.0           -2.42

     Volume  Is_Tomorrow_High  Days_Before_Holidays  ...  Bollinger_Middle  \
0     433.0                 0                   0.0  ...           598.055
1   10110.0                 0                   0.0  ...           598.055
2    5113.0                 0                   2.0  ...           598.055
3    3381.0                 1                   0.0  ...           598.055
4    4731.0                 1                   0.0  ...           598.055
5    2502.0                 1                   0.0  ...           598.055
6    1115.0                 1                   0.0  ...           598.055
7    1788.0                 1                   2.0  ...           598.055
8    1385.0                 0                   0.0  ...           598.055
9     287.0                 0                   0.0  ...           598.055
10    163.0                 1                   1.0  ...           598.055
11   1484.0                 0                   2.0  ...           598.055
12   1001.0                 0                   0.0  ...           598.055
13   1824.0                 0                   0.0  ...           598.055
14   2490.0                 0                   0.0  ...           598.055
15   1919.0                 1                   0.0  ...           598.055
16   2305.0                 0                   2.0  ...           598.055
17    700.0                 0                   0.0  ...           598.055
18   3039.0                 0                   0.0  ...           598.055
19   1516.0                 1                   0.0  ...          2141.600
20   3221.0                 0                   3.0  ...          2137.050
21   1729.0                 1                   0.0  ...          2131.250
22    701.0                 1                   0.0  ...          2125.750
23   1667.0                 1                   0.0  ...          2123.250
24   3009.0                 1                   0.0  ...          2120.800
25    884.0                 1                   2.0  ...          2117.400
26   3551.0                 0                   0.0  ...          2116.550
27   2034.0                 0                   0.0  ...          2111.800
28   1982.0                 0                   0.0  ...          2104.400
29    902.0                 0                   0.0  ...          2098.150
30   1096.0                 1                   2.0  ...          2092.200
31    687.0                 1                   0.0  ...          2086.100
32    814.0                 0                   0.0  ...          2082.100
33    466.0                 1                   1.0  ...          2080.550
34   4237.0                 1                   2.0  ...          2081.450
35   2640.0                 0                   0.0  ...          2084.100
36   1845.0                 1                   0.0  ...          2086.350
37   1200.0                 0                   0.0  ...          2090.050
38   1114.0                 0                   4.0  ...          2090.450
39   2767.0                 1                   0.0  ...          2088.700

    Bollinger_Upper  Bollinger_Lower       MACD  Signal_Line        ADX  \
0        613.631197       582.478803  -4.659392    -3.511786   0.000000
1        613.631197       582.478803  -4.659392    -3.511786   0.000000
2        613.631197       582.478803  -4.659392    -3.511786   0.000000
3        613.631197       582.478803  -4.659392    -3.511786   0.000000
4        613.631197       582.478803  -4.659392    -3.511786   0.000000
5        613.631197       582.478803  -4.659392    -3.511786   0.000000
6        613.631197       582.478803  -4.659392    -3.511786   0.000000
7        613.631197       582.478803  -4.659392    -3.511786   0.000000
8        613.631197       582.478803  -4.659392    -3.511786   0.000000
9        613.631197       582.478803  -4.659392    -3.511786   0.000000
10       613.631197       582.478803  -4.659392    -3.511786   0.000000
11       613.631197       582.478803  -4.659392    -3.511786   0.000000
12       613.631197       582.478803  -4.659392    -3.511786   0.000000
13       613.631197       582.478803  -4.659392    -3.511786   0.000000
14       613.631197       582.478803  -4.659392    -3.511786   0.000000
15       613.631197       582.478803  -4.659392    -3.511786   0.000000
16       613.631197       582.478803  -4.659392    -3.511786   0.000000
17       613.631197       582.478803  -4.659392    -3.511786   0.000000
18       613.631197       582.478803  -4.659392    -3.511786   0.000000
19      2258.231728      2024.968272  -4.659392    -3.511786   0.000000
20      2258.845690      2015.254310  -4.659392    -3.511786   0.000000
21      2265.227423      1997.272577  -4.659392    -3.511786   0.000000
22      2269.011823      1982.488177  -4.659392    -3.511786   0.000000
23      2269.242979      1977.257021  -4.659392    -3.511786   0.000000
24      2268.164310      1973.435690  -4.659392    -3.511786   0.000000
25      2263.382739      1971.417261 -26.143781    -3.511786   0.000000
26      2261.445100      1971.654900 -18.070722    -3.511786   0.000000
27      2248.138696      1975.461304 -13.534044    -3.511786  31.750972
28      2225.100290      1983.699710 -12.059050    -3.511786  29.987837
29      2206.581130      1989.718870 -11.324408    -3.511786  28.330424
30      2190.421383      1993.978617 -11.816362    -3.511786  26.499053
31      2168.116828      2004.083172 -11.428959    -3.511786  24.798495
32      2151.222789      2012.977211  -9.639069    -3.511786  23.328025
33      2146.723937      2014.376063  -8.685291   -13.523922  22.683674
34      2148.596035      2014.303965  -7.041331   -12.227404  22.277601
35      2154.892372      2013.307628  -3.678782   -10.517680  21.900534
36      2159.919763      2012.780237  -1.241700    -8.662484  21.342601
37      2168.261188      2011.838812   2.197515    -6.490484  21.809792
38      2168.060502      2012.839498  -1.833841    -5.559155  21.109289
39      2171.298063      2006.101937  -8.960016    -6.239328  20.464691

    polarity  subjectivity        ma 50        rsi
0        0.0           0.0          NaN        NaN
1        0.0           0.0          NaN        NaN
2        0.0           0.0          NaN        NaN
3        0.0           0.0          NaN        NaN
4        0.0           0.0          NaN        NaN
5        0.0           0.0          NaN        NaN
6        0.0           0.0          NaN        NaN
7        0.0           0.0          NaN        NaN
8        0.0           0.0          NaN        NaN
9        0.0           0.0          NaN        NaN
10       0.0           0.0          NaN        NaN
11       0.0           0.0          NaN        NaN
12       0.0           0.0          NaN        NaN
13       0.0           0.0          NaN  40.975500
14       0.0           0.0          NaN  34.664488
15       0.0           0.0          NaN  33.250353
16       0.0           0.0          NaN  34.685093
17       0.0           0.0          NaN  33.150379
18       0.0           0.0          NaN  30.531642
19       0.0           0.0          NaN  29.553890
20       0.0           0.0          NaN  32.861661
21       0.0           0.0          NaN  26.124447
22       0.0           0.0          NaN  27.994787
23       0.0           0.0          NaN  40.219187
24       0.0           0.0          NaN  44.081440
25       0.0           0.0          NaN  48.892361
26       0.0           0.0          NaN  58.161999
27       0.0           0.0          NaN  53.419184
28       0.0           0.0          NaN  48.635595
29       0.0           0.0  2121.166667  47.490638
30       0.0           0.0  2118.800000  45.043572
31       0.0           0.0  2117.566667  46.623266
32       0.0           0.0  2116.900000  49.917713
33       0.0           0.0  2116.500000  48.587894
34       0.0           0.0  2115.900000  50.612056
35       0.0           0.0  2114.733333  55.345426
36       0.0           0.0  2113.333333  54.668329
37       0.0           0.0  2110.800000  58.159591
38       0.0           0.0  2104.633333  42.555281
39       0.0           0.0  2097.800000  36.310333

[40 rows x 21 columns]

In [20]:
df_extracted=df1[["Date","rsi","ma 50"]]

In [49]:
df_extracted.head(5)

            rsi  ma 50
Date
2014-01-01  NaN    NaN
2014-01-02  NaN    NaN
2014-01-05  NaN    NaN
2014-01-06  NaN    NaN
2014-01-07  NaN    NaN

In [56]:
#
df2=pd.read_excel("NabilData.xlsx")

In [58]:
df2["Date"]=pd.to_datetime(df2["Date"])

In [46]:
df2 = df.sort_values(by='Date', ascending=True)

In [59]:
df2.set_index("Date", inplace=True)

In [60]:
df2.head()

,Unnamed: 0,BS_x,EPS,Book Value,COF,Dividend,inflation,Remitannce in (billion),Growth in percent(%),Symbol,...,Days_Before_Holidays,MA_10,Bollinger_Middle,Bollinger_Upper,Bollinger_Lower,MACD,Signal_Line,ADX,polarity,subjectivity
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-27,1416,2075/01/14,46.7,210.0,4.63,0.48,6.0,606.68,7.0,NABIL,...,0,1030.1,1001.55,1074.016475,929.083525,9.680262,2.875483,21.652935,0.0,0.0
2018-04-28,1417,2075/01/15,46.7,210.0,4.63,0.48,6.0,606.68,7.0,NABIL,...,0,1030.1,1001.55,1074.016475,929.083525,9.680262,2.875483,21.652935,0.0,0.0
2018-04-29,1418,2075/01/16,46.7,210.0,4.63,0.48,6.0,606.68,7.0,NABIL,...,2,1032.6,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0
2018-04-30,1419,2075/01/17,46.7,210.0,4.63,0.48,6.0,606.68,7.0,NABIL,...,2,1032.6,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0
2018-05-01,1420,2075/01/18,46.7,210.0,4.63,0.48,6.0,606.68,7.0,NABIL,...,2,1032.6,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0

In [61]:
merged = pd.merge(df2,df_extracted,on="Date",how="left")

In [62]:
#merge x with df2 and expand d
print(merged.head(2))

            Unnamed: 0        BS_x   EPS  Book Value   COF  Dividend  \
Date
2018-04-27        1416  2075/01/14  46.7       210.0  4.63      0.48
2018-04-28        1417  2075/01/15  46.7       210.0  4.63      0.48

            inflation  Remitannce in (billion)  Growth in percent(%) Symbol  \
Date
2018-04-27        6.0                   606.68                   7.0  NABIL
2018-04-28        6.0                   606.68                   7.0  NABIL

            ...  Bollinger_Middle  Bollinger_Upper  Bollinger_Lower      MACD  \
Date        ...
2018-04-27  ...           1001.55      1074.016475       929.083525  9.680262
2018-04-28  ...           1001.55      1074.016475       929.083525  9.680262

            Signal_Line        ADX  polarity  subjectivity  rsi  ma 50
Date
2018-04-27     2.875483  21.652935       0.0           0.0  NaN    NaN
2018-04-28     2.875483  21.652935       0.0           0.0  NaN    NaN

[2 rows x 29 columns]

In [69]:
merged['ma 50'].fillna(method='ffill', inplace=True)
merged['rsi'].fillna(method='ffill', inplace=True)

In [67]:
df_extracted.isnull().sum()

rsi      13
ma 50    29
dtype: int64

In [81]:
merged.index

DatetimeIndex(['2018-04-27', '2018-04-28', '2018-04-29', '2018-04-30',
               '2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04',
               '2018-05-05', '2018-05-06',
               ...
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=2232, freq=None)

In [82]:
merged.drop(columns=["Unnamed: 0", "ma 50","Days_Before_Holidays"], inplace=True)

In [84]:
merged.drop(columns=["BS_x"], inplace=True)

In [90]:
print(merged.columns)

Index(['EPS', 'Book Value', 'COF', 'Dividend', 'inflation',
       'Remitannce in (billion)', 'Growth in percent(%)', 'Symbol', 'Open',
       'High', 'Low', 'Close', 'Percent Change', 'Volume', 'Is_Tomorrow_High',
       'MA_10', 'Bollinger_Middle', 'Bollinger_Upper', 'Bollinger_Lower',
       'MACD', 'Signal_Line', 'ADX', 'polarity', 'subjectivity', 'rsi',
       'ma 30'],
      dtype='object')

In [96]:
k=['Symbol',
    'EPS', 'Book Value', 'COF', 'Dividend', 'inflation',
       'Remitannce in (billion)', 'Growth in percent(%)', 'Open',
       'High', 'Low', 'Close', 'Percent Change', 'Volume', 'Is_Tomorrow_High',
       'MA_10', 'Bollinger_Middle', 'Bollinger_Upper', 'Bollinger_Lower',
       'MACD', 'Signal_Line', 'ADX', 'polarity', 'subjectivity', 'rsi',
       'ma 30'
]

In [97]:
merged=merged[k]

In [98]:
merged.head()

,Symbol,EPS,Book Value,COF,Dividend,inflation,Remitannce in (billion),Growth in percent(%),Open,High,...,Bollinger_Middle,Bollinger_Upper,Bollinger_Lower,MACD,Signal_Line,ADX,polarity,subjectivity,rsi,ma 30
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-27,NABIL,46.7,210.0,4.63,0.48,6.0,606.68,7.0,1050.0,1050.0,...,1001.55,1074.016475,929.083525,9.680262,2.875483,21.652935,0.0,0.0,50.060921,993.766667
2018-04-28,NABIL,46.7,210.0,4.63,0.48,6.0,606.68,7.0,1050.0,1050.0,...,1001.55,1074.016475,929.083525,9.680262,2.875483,21.652935,0.0,0.0,50.060921,993.766667
2018-04-29,NABIL,46.7,210.0,4.63,0.48,6.0,606.68,7.0,1015.0,1020.0,...,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0,50.060921,993.766667
2018-04-30,NABIL,46.7,210.0,4.63,0.48,6.0,606.68,7.0,1015.0,1020.0,...,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0,50.060921,993.766667
2018-05-01,NABIL,46.7,210.0,4.63,0.48,6.0,606.68,7.0,1015.0,1020.0,...,1005.05,1072.865854,937.234146,8.143550,3.929096,20.613433,0.0,0.0,50.060921,993.766667

In [99]:
merged.to_excel("Nabil_Data_Checkpoint_ver_2.xlsx",)